<section class="row col-if-tablet items-center justify-around gap-4">
  <div class="row gap-4" style="align-items: stretch">
    <a href="/">
      <img
        src="richard-black.png"
        alt="Richard Grover"
        style="max-height: 150px"
      />
    </a>
    <div class="col" style="justify-content: space-around;">
      <a class="w-text-3xl" href="https://github.com/richgrov">
        <img src="/ic/github.png" alt="GitHub Icon" />
      </a>
      <a class="w-text-3xl" href="https://www.linkedin.com/in/richgrov/">
        <img src="/ic/linkedin.png" alt="LinkedIn Icon" />
      </a>
      <a class="w-text-3xl" href="https://www.x.com/richgrov">
        <img src="/ic/x.png" alt="X Icon" />
      </a>
    </div>
  </div>
  <a class="button" href="/Richard%20Grover%20-%20Resume.pdf">Download Resume</a
  >
</section>
