<div
	class="max-w-md bg-[#1f1f1f] p-2 text-center"
	style="
		background-color: black;
		border-radius: 0.75rem;
		color: white;
		padding: 0.5rem;
		max-width: 480px;
		margin: 10px auto;
	"
>
	<img
		src="neumont.png"
		alt="Neumont College of Computer Science Logo"
		style="width: 50%"
	/>
	<h2 class="fire-text" style="padding-top: 0.25rem; line-height: 1.5rem">
		1ST PLACE
	</h2>
	<p style="margin: 0">Project Showcase</p>
</div>

An app that teaches you to solve a Rubik's Cube- powered by computer vision.

<ul>
	<li>Scan an entire Rubik's Cube with only two photos</li>
	<li>Play, pause, rewind, and fast-forward through instructions</li>
	<li>
		Learn the <strong>human</strong> way of solving, not the absolute fastest
	</li>
</ul>

<a href="https://github.com/richgrov/dCubed" class="text-center">
	View on GitHub
</a>
