<div
	class="max-w-md bg-[#1f1f1f] p-2 text-center"
	style="
		background-color: black;
		border-radius: 0.75rem;
		color: white;
		padding: 0.5rem;
		max-width: 480px;
		margin: 10px auto;
	"
>
	<img
		src="neumont.png"
		alt="Neumont College of Computer Science Logo"
		style="width: 50%"
	/>
	<p class="fire-text" style="margin: 0; font-size: 2rem; font-weight: bold">
		1ST PLACE
	</p>
	<p style="margin: 0">Project Showcase</p>
</div>

An app that teaches you to solve a Rubik's Cube- powered by computer vision.


<a href="https://github.com/richgrov/dCubed" class="text-center">
	View on GitHub
</a>
