<div
	class="flex max-w-md flex-col items-center rounded-xl bg-[#1f1f1f] p-2 text-center text-white"
>
	<img
		src="neumont.png"
		alt="Neumont College of Computer Science Logo"
		class="w-1/2"
	/>
	<p
		class="animate-bg-shift bg-rainbow bg-[length:333%_100%] bg-clip-text pt-1 font-pixel text-3xl text-transparent"
	>
		1ST PLACE
	</p>
	<p>Project Showcase</p>
</div>

An app that teaches you to solve a Rubik's Cube- powered by computer vision.

<ul class="list-inside list-disc">
	<li>Scan an entire Rubik's Cube with only two photos</li>
	<li>Play, pause, rewind, and fast-forward through instructions</li>
	<li>
		Learn the <strong>human</strong> way of solving, not the absolute fastest
	</li>
</ul>

<a href="https://github.com/richgrov/dCubed" class="underline">
	View on GitHub
</a>
