<section class="row col-if-tablet items-center justify-around gap-4">
  <div>
    <h1 class="margin-0">
      <a class="reset-link-style" href="/">Richard Grover</a>
    </h1>
    <div class="row gap-4">
      <span class="text-3xl grow-1">Software Engineer</span>
      <a class="w-text-3xl" href="https://github.com/richgrov">
        <img src="/ic/github.png" alt="GitHub Icon" />
      </a>
      <a class="w-text-3xl" href="https://www.linkedin.com/in/richgrov/">
        <img src="/ic/linkedin.png" alt="LinkedIn Icon" />
      </a>
      <a class="w-text-3xl" href="https://x.com/richgrov">
        <img src="/ic/x.png" alt="X Icon" />
      </a>
    </div>
  </div>
  <a class="px-5 py-4 button" href="/resume.pdf">Download Resume</a>
</section>
