<section>
	<div class="row col-if-tablet items-center justify-around gap-4">
		<div style="flex-basis: 50%">
			<div style="max-width: 400px; margin: 0 auto">
				<h1 class="text-center">{{.Name}}</h1>
				{{ partial .Content }}
			</div>
		</div>
		<div style="flex-basis: 50%">
			<!-- prettier-ignore -->
			{{ $type := (printf "%T" .Src )}}
			{{ if eq $type "string" }}

			<img class="shadow" src="{{.Src}}" alt="{{.Alt}}" />

			{{ else }}

			<video
				width="{{.Width}}"
				height="{{.Height}}"
				autoplay
				loop
				muted
				playsinline
				class="shadow"
			>
				<source src="{{index .Src 0}}" type="video/webm" />
				<source src="{{index .Src 1}}" type="video/mp4" />
				Your browser couldn't play this video
			</video>

			{{ end }}
		</div>
	</div>
</section>
