<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{{ .Title }}</title>

		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Inter&display=swap"
			rel="stylesheet"
		/>

		<link rel="stylesheet" href="/main.css" />
	</head>
	<body class="mx-auto max-w-screen-2xl border-1 border-x-black">
		<div
			class="flex w-full items-center justify-around border-1 border-b-black py-10"
		>
			<div class="flex flex-col gap-5">
				<h1 class="font-pixel text-7xl">Richard Grover</h1>
				<h3 class="text-3xl">Software Engineer</h3>
			</div>
			<button class="border-1 border-black px-5 py-4 shadow-[8px_8px_black]">
				Download Resume
			</button>
		</div>

		<div class="bg-neutral-50 text-2xl">
			<div
				class="mx-auto flex max-w-screen-2xl flex-col-reverse items-center justify-between lg:flex-row lg:items-stretch"
			>
				<img src="marble1.png" />
				<div class="flex flex-col justify-evenly text-2xl">
					<h2 class="mb-4 text-6xl font-semibold">Skills</h2>
					<div>
						<p>Languages:</p>
						<ul class="list-inside list-disc">
							<li>Rust - 2 years</li>
							<li>Go - 2 years</li>
							<li>C/C++ - 3 years</li>
							<li>TypeScript - 3 years</li>
							<li>JavaScript - 4 years</li>
							<li>Python - 3 years</li>
							<li>Kotlin - 2 years</li>
							<li>Java - 6 years</li>
						</ul>
					</div>
					<div>
						<p>Technologies:</p>
						<ul class="list-inside list-disc">
							<li>Docker</li>
							<li>Linux</li>
							<li>MySQL / SQLite</li>
							<li>OpenGL / WebGPU / WebGL</li>
							<li>Three.js</li>
							<li>HTMX</li>
						</ul>
					</div>
					<div>
						<p>Cloud:</p>
						<ul class="list-inside list-disc">
							<li>Google Cloud Platform</li>
							<li>OpenAI</li>
							<li>Cloudflare</li>
							<li>Firebase</li>
							<li>Fly.io</li>
							<li>Turso</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<footer class="bg-zinc-200 py-11">
			<div class="mx-auto max-w-5xl">
				<div class="flex justify-between gap-8">
					<div>
						<p class="pb-4">Products</p>
						<ul>
							<li>
								<a
									href="https://github.com/richgrov/voxelai-frontend"
									target="_blank"
									>VoxelAI</a
								>
							</li>
						</ul>
					</div>
					<div>
						<p class="pb-4">Backend &amp; Tools</p>
						<ul>
							<li>
								<a
									href="https://github.com/richgrov/rex"
									target="_blank"
									>rex</a
								>
							</li>
							<li>
								<a
									href="https://github.com/richgrov/oneworld"
									target="_blank"
									>oneworld</a
								>
							</li>
						</ul>
					</div>
					<div>
						<p class="pb-4">Games</p>
						<ul>
							<li>
								<a
									href="https://github.com/richgrov/villa"
									target="_blank"
									>Villa</a
								>
							</li>
							<li>
								<a
									href="https://github.com/richgrov/factortale"
									target="_blank"
									>Factortale</a
								>
							</li>
						</ul>
					</div>
				</div>

				<div class="flex gap-1 pt-10">
					<p class="grow">&copy; {{ now.Year }} Richard Grover</p>
					<a
						class="w-14 border-b-8 border-white bg-neutral-50 p-2"
						href="https://github.com/richgrov"
					>
						<img src="/ic/github-black.png" alt="GitHub Icon" />
					</a>
					<a
						class="w-14 border-b-8 border-[#4d84e2] bg-[#2b62c1] p-2"
						href="https://www.linkedin.com/in/richgrov/"
					>
						<img src="/ic/linkedin-white.png" alt="LinkedIn Icon" />
					</a>
					<a
						class="w-14 border-b-8 border-neutral-600 bg-black p-2"
						href="https://x.com/hyrdonic/"
					>
						<img src="/ic/x-white.png" alt="X Icon" />
					</a>
				</div>
			</div>
		</footer>
	</body>
</html>
