<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{{ .Title }}</title>

		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Inter&display=swap"
			rel="stylesheet"
		/>

		<link rel="stylesheet" href="/main.css" />
	</head>
	<body>
		{{ partial "header.html" }}

		<div class="row col-if-tablet black-corners">
			<section>
				<div>
					<h2>About</h2>
					Hello, I'm <strong>Richard Grover</strong>. I live in
					<strong>Salt Lake City, Utah</strong> and am passionate about:
					<ul class="list-inside list-disc">
						<li>Systems Engineering</li>
						<li>Graphics Rendering</li>
						<li>Augmented Reality</li>
						<li>Machine Perception</li>
						<li>Brain-Computer Interfaces</li>
					</ul>
				</div>
			</section>
			<section>
				<div>
					<div class="flex w-full flex-col gap-1">
						<h2>Experience</h2>
						<!-- prettier-ignore -->
						{{ $languages := slice
						(dict "name" "Java" "year" 2017)
						(dict "name" "JavaScript" "year" 2019)
						(dict "name" "TypeScript" "year" 2020)
						(dict "name" "Python" "year" 2020)
						(dict "name" "C/C++" "year" 2020)
						(dict "name" "Rust" "year" 2021)
						(dict "name" "Go" "year" 2021)
						(dict "name" "Kotlin" "year" 2021)
					}}
					{{range $languages}}
					{{ $since := sub now.Year .year }}
					{{ $denominator := sub now.Year 2017 }}
					{{ $fraction := div (float $since) $denominator }}
						<div class="bar" style="width: {{ mul $fraction 100 }}%;">
							<span class="float-left">{{.name}}</span>
							<span class="float-right mt-1 text-sm">
								{{ $since }} Years
							</span>
						</div>
						{{end}}
					</div>
				</div>
			</section>
		</div>

		<section class="">
			<h2 class="text-center">Projects</h2>
		</section>

		<!-- prettier-ignore -->
		{{
			partial "project.html" (dict
				"Name" "dCubed"
				"Content" "dcubed.html"
				"Topics" (slice "Java" "Javalin" "OpenCV" "Python" "PyTorch" "Flask"
					"TypeScript" "React" "TailwindCSS" "Three.js")
				"Src" (slice "projects/dCubed/0.webm" "projects/dCubed/0.mp4")
				"Width" 1222
				"Height" 706
			)
		}}

		{{
			partial "project.html" (dict
				"Name" "villa"
				"Content" "villa.html"
				"Topics" (slice "Rust" "WGPU" "WGSL" "TCP")
				"Src" "https://raw.githubusercontent.com/richgrov/villa/main/screenshot.png"
			)
		}}
	</body>
</html>
