@tailwind base;
@tailwind utilities;

@font-face {
	font-family: "Unispace";
	src:
		url("/fonts/unispace-bold.woff2") format("woff2"),
		url("/fonts/unispace-bold.woff") format("woff");
	font-weight: bold;
}
