---
import Layout from "./Layout.astro";

const { frontmatter } = Astro.props;
---

<Layout
	title={frontmatter.title + " - Richard Grover"}
	description={frontmatter.description}
>
	<section>
		<h2 class="text-center">{frontmatter.title}</h2>
	</section>
	<section>
		<div style="max-width: 768px; margin: 0 auto;">
			<slot />
		</div>
	</section>
</Layout>
